header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;

}


.header {
  box-sizing: unset !important;
  position: relative;
  width: 100%;
  height: 883px;
  top: 0;
  left: 0;
  z-index: 50;
  //background: url("../img/binta_main_theme.png") no-repeat;
  //object-fit: cover;
  //object-position: top;
  background-color: #2d363b;
  // .header__body
  @media (max-width: 1130px) {
    height: auto;
  }

  &__body {
    display: flex;
    position: relative;
    min-height: 90px;
    align-items: center;
    padding: 5px 0px;


    @media(max-width: 992px) {
      min-width: 80px;
    }
    @media(max-width: 768px) {

      min-width: 50px;
    }

  }

  .header__logo {
    padding-bottom: 30px;

    img {
      width: 80%;
    }
  }

  &__logo {
    font-weight: 700;
    font-size: 40px;
    position: relative;
    color: inherit;
    text-decoration: none;
    color: white;
  }

  // .header__menu

  &__menu {
    flex: 0 1 auto;

    @media(max-width: 992px) {
      margin: 0px 0px 0px 80px;
    }
    @media(max-width: 768px) {
      margin: 0px 0px 0px 0px;
    }
    @media(max-width: 1000px) {
      display: none;
    }
  }
}

.menu {
  @media(max-width: 768px) {

    display: none;

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }

  // .menu__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 20px;
    padding: 5px 0px;
    position: relative;

    @media(max-width: 768px) {
      margin: .5rem;
      padding: .5rem;
      padding-top: 20px;
      display: block;
      width: 100%;
      border: .2rem solid rgba(0, 0, 0, .1);
      border-left: .7rem solid red;
      background: #fff;

    }

  }

  // .menu__link

  &__link {
    line-height: calc(24 / 14 * 100%);
    font-weight: 500;
    font-size: 18px;
    color: inherit;
    transition: color .3s ease 0s;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: gray;
    }
  }
}

.header__icons {
  display: flex;
  margin-left: 365px;
  @media (max-width: 1530px) {
    margin: 0 auto;
    padding: 0 0 23px 0;
  }
  @media (max-width: 1000px) {
    display: none;
  }
}

.icons-box {
  list-style-type: none;
  margin-right: 16px;

}


//CONTENT START

.header__content {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1130px) {
    justify-content: center;
  }

}

.content__block {

}

.input_header_mobile {
  width: 75%;
  padding-top: 12px;
  margin: 0 auto;
  @media (max-width: 500px) {
    width: 80%;
  }

  label {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
  }

  input {
    background: rgba(255, 255, 255, 0.2);
    border: 1px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    color: #FFFFFF;
    height: 45px;

    &:focus {
      border: 3px solid #00DCFF !important;
    }
  }
}


.form-block__mobile {
  *, ::after, ::before {
    box-sizing: border-box !important;
  }

  width: 75%;
  display: none;
  height: auto;
  margin: 30px auto 50px auto;
  background: #217D90;
  box-shadow: 70px 7px 55px rgba(50, 58, 65, 0.1);
  border-radius: 25px;
  @media (max-width: 1130px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    .form-label {
      width: 75%;
      margin: auto;
    }
  }
  @media (max-width: 450px) {
    width: 90%;
  }

  .started-now__form__policy {
    padding: 10px 25px !important;
    text-align: center;
    color: #C8D1E1;
    line-height: 150%;
    font-size: 12px;
    max-width: 420px;
  }
}

.block-form-label__mobile {
  @media (max-width: 300px) {
    code {
      font-size: 20px;
    }

  }
}

.form-block__subscribe_mobile {
  margin: 0 auto;
  width: 80%;
}

.block-form-label__mobile {
  text-align: center;
  padding: 20px 0;
}

.trial_version_text__mobile,
.form-block__started__button__mobile {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

.block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  max-width: 488px;
  padding-top: 100px;
  @media (max-width: 1260px) {
    max-width: none;
    padding: 0;
  }
  @media (max-width: 1130px) {
    max-width: 488px;
  }

  @media (max-width: 350px) {
    font-size: 45px;
    max-width: 400px;

  }
}

.block__text {
  @media (max-width: 1260px) {
    width: 45%;
  }
  @media (max-width: 1130px) {
    width: unset;
  }
  @media (max-width: 350px) {
    max-width: 400px;
  }

}

.text-up, .text-down {
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  max-width: 510px;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 50px;

}

.cart {
  width: 25px;
  height: 25px;
  padding-right: 15px;
}

.content__form {
  left: 56%;
  position: absolute;
  @media (max-width: 1530px) {
    left: 46%;

  }
  @media (max-width: 1260px) {
    bottom: 0;
  }
  @media (max-width: 1130px) {
    display: none;
  }

  img {
    width: 606px;
    height: 699px;
  }

  //top: 20%;
  //right: 20%;
  //bottom: 20%;
  //left: 70%;
}

.first_block {
  padding-top: 15px !important;
}

.trial_version_text {
  padding-top: 21px;
}

.form-form {
  padding-bottom: 63px;
}

.form-block {
  position: absolute;
  bottom: 0;
  width: 85%;

  input[type="text"] {
    border-radius: 10px;
    border: none;
    height: 45px;
    border: 3px solid #4c98a8;
    outline: none;
    padding: 0 0 0 7px;
    background-color: #4c98a8;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    //font-size: unset!important;
    line-height: 19px;

    &:focus {
      border: 3px solid #00DCFF;
    }
  }

  label {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }

  &__privacy_policy {
    padding: 29px;
    text-align: center;
    color: #C8D1E1;
    line-height: 150%;
    font-size: 12px;

    a {
      color: #C8D1E1;
      text-decoration: underline;
    }

    a:hover {
      color: #FFFFFF !important;
    }
  }

  &__input_demo_base {
    padding: 10px 36px 10px 29px;

    input {
      width: 99%;
    }
  }

  &__input {
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;

    input {
      width: 200px;
    }
  }

  &__started {
    display: flex;
    justify-content: space-between;
    padding: 10px 33px 10px 33px;

    .binta_get_started_btn {
      border: none;
      height: 55px;
      width: 175px;
      border-radius: 10px;
      font-size: 18px;
      color: #00A7C2;
      margin: 5px 0 0 0;
      background-image: linear-gradient(-45deg, transparent 10%, transparent 40%, #17dbf180 20%, transparent 70%) !important;
      background-repeat: no-repeat !important;
      animation: blick-slide infinite 3s;
    }

    .binta_get_started_btn:hover {
      background: #d1efff;
    }

    .binta_get_started_btn:active,
    .binta_get_started_btn:focus {
      outline: none !important;
      //border: none !important;
    }
  }

  &__subscribe {
    padding: 5px 10px 0 25px;

    input[type="checkbox"] {
      display: none;
    }

    label::before {
      content: " ";
      display: inline-block;
      text-indent: 0px;
      width: 20px;
      height: 20px;
      background: #217D90;
      border: 2px solid #FFFFFF;
      border-radius: 0.25em;
      vertical-align: middle;
      margin-inline: 10px;
    }

    input:checked + label:before {
      content: '\2713';
      font-size: large;
      color: #217D90;
      background-color: #FFFFFF;
    }

  }

}

.form-block1 {

  position: absolute;
  top: -5%;
  left: 10%;
  right: -35%;
  bottom: -5%;
  background: #217D90;
  box-shadow: 70px 7px 55px rgba(50, 58, 65, 0.1);
  border-radius: 25px;
  z-index: 5;

}

.form-block2 {
  position: absolute;
  top: 3%;
  left: 50%;
  right: -49%;
  bottom: 3%;
  background: #217D90;
  box-shadow: 70px 7px 55px rgba(50, 58, 65, 0.1);
  border-radius: 25px;
  z-index: 4;

}

.form-block3 {
  position: absolute;

  top: 10%;
  left: 80%;
  right: -60%;
  bottom: 10%;
  background: #217D90;
  box-shadow: 70px 7px 55px rgba(50, 58, 65, 0.1);
  border-radius: 25px;
  z-index: 3;

}

label {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.form-label {
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  /* or 33px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #FFFFFF;

  &__trial_text {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 24px;
  }
}

.light-green:before {
  content: url("../img/light.png");
  position: absolute;
  left: 2%;
  top: 2%;
}

.subscribe__block {
  width:100%;
  text-align: center;
  label {
    display: unset;
  }
  @media (max-width: 1130px) {
    text-align: center;
  }
}

.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 code, .animated-icon2 code, .animated-icon3 code {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 code {
  background: #ffffff;
}

.animated-icon2 code {
  background: #ffffff;
}

.animated-icon3 code {
  background: #ffffff;
}

.animated-icon1 code:nth-child(1) {
  top: 0px;
}

.animated-icon1 code:nth-child(2) {
  top: 10px;
}

.animated-icon1 code:nth-child(3) {
  top: 20px;
}

.animated-icon1.open code:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open code:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open code:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 code:nth-child(1) {
  top: 0px;
}

.animated-icon2 code:nth-child(2), .animated-icon2 code:nth-child(3) {
  top: 10px;
}

.animated-icon2 code:nth-child(4) {
  top: 20px;
}

.animated-icon2.open code:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open code:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open code:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open code:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 code:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 code:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 code:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open code:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open code:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open code:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.navbar-toggler {
  display: none;
  border-color: unset;
  z-index: 10;
  padding-bottom: 25px !important;
  position: absolute;
  right: 0;
  @media (max-width: 1000px) {
    display: block;
  }
}

.sidenav {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #217D90;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidenav__uncorn_link {
  padding: 20px 0px;
  text-align: center;
}

.sidenav__uncorn_link__media {
  text-align: center;
  padding: 10px;
}

.sidenav a {
  text-decoration: none;
  font-size: 15px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.private_text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  /* or 19px */

  text-align: center;

  color: #D9DFEA;
  padding-top: 20px;
  opacity: 0.3;
}



